<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Générateurs pour DnD 5e</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item border-end">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item border-end">
      <a class="nav-link" href="/name">Noms</a>
    </li>
    <li class="nav-item border-end">
      <a class="nav-link" href="/pnj">PNJs</a>
    </li>
    <li class="nav-item border-end">
      <a class="nav-link" href="/wildmagic">Magie Sauvage</a>
    </li>
    <li class="nav-item border-end">
      <a class="nav-link" href="/abilities">Caractéristiques</a>
    </li>
    <li class="nav-item border-end">
      <a class="nav-link" href="/dice">Dés</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/om">Objets Magiques</a>
    </li>
  </ul>
</nav>
