<%- include('./partials/main_head'); %>

    <main>
      <div class="jumbotron">
          <h1>Générateurs pour DnD 5e</h1>
          <p>Vous trouverez sur ce site quelques générateurs/listes en <strong>français</strong> pour DnD 5e.</p>

          <ul>
            <li><strong>Noms</strong>: Générateur aléatoire de noms génériques et de noms éthniques.</li>
            <li><strong>PNJs</strong>: Générateur pour décrire des PNJs.</li>
            <li><strong>Magie Sauvage</strong>: 3 listes de Magie Sauvage, l'officiel + 2 listes homebrew.</li>
            <li><strong>Caractéristiques</strong>: Tirage de dés pour définir les caractéristiques d'un PJ ou d'un PNJ. Plusieurs méthodes sont proposées.</li>
            <li><strong>Dés</strong>: Un lanceur de dés paramétrable (nombre de dés, type de dé, bonus/malus).</li>
            <li><strong>Objets Magiques</strong>: Liste des objets magiques (avec les liens vers Aidedd) et leurs prix réalistique/raisonnable.</li>
          </ul>

      </div>
    </main>

<%- include('./partials/main_foot'); %>
